body {
    background-color: antiquewhite;
}
/*제목*/
.top {
    background-color: aqua;
    color: cornflowerblue;
    text-align: center;
}
/*소개 글*/
.introduction {
height: 460px;
}
mark {
background-color: aquamarine;
}
/*목차*/
.index mark {
    background-color: cadetblue;
}
.index ol {
    background-color: rgb(192, 212, 231);
    width: 300px;
}
.index li {
    background-color: rgb(212, 149, 243);
    margin-bottom: 10px;
}
.indexk li:hover{
    background-color: black;
    color:white;
}
.index a:hover{
    color:white;
}
/*동아리 운영진*/
.metor table{
    border:3px solid blue; /*굵기 선종류 색상*/
}
.mentor table td {
    height: 50px;
    width: 100px;
    border: 3px dotted green;
    background-color: pink;
    text-align: center;
}
/*동아리 팀원*/
.group {
    border: 3px slateblue;
    border-collapse: collapse;
}
.group td {
    height: 50px;
    width: 100px;
    text-align: center;
}
tr:nth-child(odd){
    background-color: rgb(243, 126, 190);
}
/*링크 이동*/
a:link{
    text-decoration: none;
}
.hyperlink li:hover {
    background-color: blueviolet;
    display: inline;
}
.hyperlink a:hover{
    color: aliceblue;
    text-decoration: underline;
}

/*소사캠퍼스*/
.school img{
    width: auto;
    height: 250px;
}